<!DOCTYPE html>
<html>
  <head>
    <title>
    	<%= envConfig.TITLE %>
    </title>
    <script type="text/javascript" src="scripts/home.js"></script>
  </head>
  <body>
  	<%- body %>

  	<% include ./partials/fb %>
  </body>
</html>
